body {
    margin: 0;
    padding: 0;
    /*Este margin es porque por defecto la página viene con un margin que molesta*/
    font-family: Arial, Helvetica, sans-serif;
    /*Cambio de tipografía para que se vea como en la guía*/
    background-color: rgb(207, 207, 207);
}

/*Los elementos de abajo son generales para toda la página por eso los coloque fuera de las secciones*/
.section {
    background-color: rgb(255, 255, 255);
    margin: 2vh 2vw;
    padding: 2vh 2vw;
    border-radius: 10px;
}

.section_h2 {
    font-size: 20px;
    margin-bottom: 5px;
}

.section_hr {
    height: 2px;
    background-color: black;
}

/*4.1*/
.header {
    display: flex;
    width: 100vw;
    height: 10vh;
    background-color: rgb(69, 69, 69);
    align-items: center;
    justify-content: center;
}

.header_h1 {
    text-align: center;
    margin: 0;
    color: rgb(255, 255, 255);
}

/*4.2*/
.section42_p {
    text-align: justify;
    text-decoration: underline;
    text-transform: capitalize;
}

.section42_blockquote {
    background-color: rgb(229, 229, 229);
    margin: 0;
    padding: 10px 16px;
    border-left: 5px rgb(69, 69, 69) solid;
    font-style: italic;
}

/*4.3*/
.section43_div1,
.section43_div2 {
    border: 2px rgb(69, 69, 69) solid;
    border-radius: 5px;
    margin: 5px;
    padding: 0 10px;
    box-shadow: 3px 3px 5px 1px rgb(135, 135, 135);
}

.section43_div2 {
    border-width: 4px;
    background-color: rgb(255, 212, 169);
}

/*4.4*/
.section44_div_rel {
    position: relative;
    top: 5px;
    left: 5px;
    background-color: rgb(201, 255, 240);
    padding: 10px 10px;
}

.section44_p {
    font-size: 11px;
    margin: 0;
}

.section44_div_rel_abs {
    position: absolute;
    background-color: rgb(34, 150, 117);
    border-radius: 5px;
    padding: 8px 5px;
    top: 10px;
    left: 42vw;
    color: rgb(255, 255, 255);
}