body {
    margin: 0;
    padding: 0;
    /*Este margin es porque por defecto la página viene con un margin que molesta*/
    font-family: Arial, Helvetica, sans-serif;
    /*Cambio de tipografía para que se vea como en la guía*/
    background-color: rgb(207, 207, 207);
}

/*4.1*/
.header {
    display: flex;
    width: 100vw;
    height: 10vh;
    background-color: rgb(69, 69, 69);
    align-items: center;
    justify-content: center;
}

.header_h1 {
    text-align: center;
    margin: 0;
    color: rgb(255, 255, 255);
}

/*4.2*/
.section42 {
    background-color: rgb(255, 255, 255);
    margin: 2vh 2vw;
    padding: 2vh 2vw;
    border-radius: 10px;
}

.section42_h2 {
    font-size: 20px;
}

.section42_p {
    text-align: justify;
    text-decoration: underline;
    text-transform: capitalize;
}

.section42_blockquote {
    background-color: rgb(229, 229, 229);
    margin: 0;
    padding: 10px 16px;
    border-left: 5px rgb(69, 69, 69) solid;
    font-style: italic;
}

.section42_hr {
    height: 2px;
    background-color: black;
}